html {
  font-size: 17px;
}
@media only screen and (max-width: 900px) {
  html { font-size: 15px; }
}
@media only screen and (max-width: 400px) {
  html { font-size: 13px; }
}
/* CSS HOVER EFECT */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(73, 62, 117, 0.59);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 1em;
}
.loader {
    display:block;
    margin:100px auto;
    font-size:7em;
    color:#493E75;
    text-align:center;
}
body {
    background:#f8f8f8;
}
.wrapper {
    max-width: 1080px;
    border: solid #e2e2e2;
    padding: 15px 40px;
    border-width: 0px 2px 2px 2px;
    background: #fff;
    margin-bottom: 50px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.styled-link {
    color:#C94F4C;
    transition:300ms;
    cursor:pointer;
}
.styled-link:hover,
.styled-link:focus {
    color:#736DAB;
    text-decoration:none;
}
.splash {
    background:#736DAB;
    padding:35px;
    text-align:center;
}
.splash h1 {
    color:#dadaff;
    font-size:40px;
    position:relative;
    z-index:5;
    font-family:'aleoregular';
}

.navbar {
    text-align:center;
    background:#736DAB;
    border-color: #493E75;
    border-width:0px 0px 6px 0px;
    border-radius:0px;
    float:none;
    margin:0px;
    z-index:6;
    padding-top:10px;
}
.navbar-header {
    float:none;
}
.navbar-nav {
    margin:0px auto;
    display: table;
    font-size:21px;
    float:none;
}
.nav-block#ov {
    cursor:pointer;
}
/*.nav-block#ov:hover,
.nav-block#ov:focus,*/
.nav-block#ov.active {
    background:#493E75;
    transition:300ms;
    cursor:pointer;
}
.nav-link#ov {
    color:#f8f8f8;
}

.content p {
font-size:18px;
}
.content img {
    display: block;
    border-radius: 10px;
    margin: 0px auto;
}

.head {
    background: #3D7782;
    color: #fff;
    margin-bottom: 24px;
    display:inline-block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #A6CFCF;
    border-width: 0 1px 4px 1px;
}
.big-header-left {
    margin-left: -47px;
    padding: 2px 80px 2px 47px;
}
.big-header-right {
    margin-right: -47px;
    padding: 2px 47px 2px 80px;
    text-align:right;
}
.image-row {
    margin:10px 0px;
}
.image-row .col-md-4::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 36px;
    background: #3d7782;
    top: 44%;
    left: 0;
    right: 0;
    z-index: 1;
}
.image-row .image-parent {
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
    border-radius:100%;
    height: 289px;
    border: 6px #3d7782 solid;
    z-index:3;
    margin:37px 0px;
}
.image-row img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width:100%;
}
hr {
    margin: 30px 0px;
    border: 0;
    border-top: 6px solid #eeeeee;
}
.info-panel {
    background: #D1E2FF;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    margin:10px;
}
p.small {
    font-size:1.2em;
}
p.med{
    font-size:1.5em;
}
p.big{
    font-size:3em;
}
.info-panel i.fa-cogs{
    position: absolute;
    font-size: 8em;
    bottom: -35px;
    right: 0px;
    color: #fff;
}
.person {
    margin:50px 0px;
    overflow:hidden;
    font-size:16px;
}
.person p{
    padding:0px 20px;
}
.person .head {
    padding:2px 80px 2px 20px;
}
.profile-image {
    width: 275px;
    height: 275px;
    border: 1px solid #3D7782;
    border-radius: 100%;
    margin: 30px auto;
    display: block;
}
.footer {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 100%;
    padding: 50px;
    /*border-top: 1px solid #3D7782;*/
    margin-top: 40px;
}

.footer img {
    width: 14%;
    height: 14%;
    opacity: 0.6;
    transition: 400ms;
}

.footer img:hover,
.footer img:focus {
    cursor: pointer;
    opacity: 1;
}
.footer p {
    margin:10px 0px;
}

.listing {
  text-align: left;
  padding:10px 30px;
  background:#f3f3f3;
  margin:20px 0px;
}

.listing h3 {
  margin:10px 0px;
}

.listing a {
    color:#493e75;
}
